// ***************************************************
//  AMAZINE Code Competition
//  
//  global styles
//
// ***************************************************

// main resets: --------------------------------------
* {
    margin:0;
    padding:0;
}
body {
    font: $mainFont;
    line-height: $lineHeight;
}

// base amazine styles: ------------------------------
#App {
    @include cols(10, "width");
    margin:auto;
    @include rows(4, "margin-top");
    @include rows(4, "margin-bottom");
}
h1, h2, h3 {
    font:$headlineFont;
    @include rows(1, "margin-bottom");
}
article {
    + article {
        @include rows(3, "margin-top");
    }
}
p {
    font:$storyFont;
}